/* CSS Document */

main > section img{ 
	max-width: 100%;
	height: auto;
}

.cpb-clearfix {
	clear: both;
}

.cpb-row {
	padding-bottom: 1rem;
	margin: 0 -0.5rem; 
}

.cpb-row.cpb-single { 
	margin: 0; 
}

.cpb-column { 
	float: left;
}

.cpb-column img{ 
	max-width: 100%;
	height: auto;
}

.cpb-single > .cpb-column { 
	float: none 
}

.cpb-column:after {
	content: '';
	clear:both;
	display: block;
}


.cpb-halves > .cpb-column { width: 50%;}

.cpb-side-right > .cpb-column.one { width: 75%}
.cpb-side-right > .cpb-column.two { width: 25%}

.cpb-side-left > .cpb-column.one { width: 25%}
.cpb-side-left > .cpb-column.two { width: 75%}

.cpb-thirds > .cpb-column { width: 33.33% }

.cpb-thirds-half-left > .cpb-column.one { width: 50%}
.cpb-thirds-half-left > .cpb-column.two { width: 25%} 
.cpb-thirds-half-left > .cpb-column.three { width: 25%}

.cpb-thirds-half-right > .cpb-column.one { width: 25%}
.cpb-thirds-half-right > .cpb-column.two { width: 25%} 
.cpb-thirds-half-right > .cpb-column.three { width: 50%}  
  
.cpb-quarters > .cpb-column { width: 25% }

.cpb-triptych > .cpb-column.one { width: 25%}
.cpb-triptych > .cpb-column.two { width: 50%}
.cpb-triptych > .cpb-column.three { width: 25%}

@media only screen and ( max-width: 700px ) {
	
	.cpb-quarters > .cpb-column { width: 50% }
	
}

.cpb-inner-wrap {
	margin: 0 0.5rem;
}

.cpb-single .cpb-inner-wrap {
	margin: 0;
}


/* WSU Theme Overrides */
.cpb-row {
	width: auto !important; 
}

body.home main > section {
    margin: 0 1rem !important;
}

body.home main > section.row {
    padding-top: 1rem; !important;
}

/*
* Display Options
*/
.cpb-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cpb-list span { }

@media only screen and ( max-width: 700px ) {
	
	.cpb-quarters > .cpb-column { width: 50%; margin-bottom: 1rem; }
	
}

@media only screen and ( max-width: 550px ) {
	.cpb-quarters > .cpb-column,
	.cpb-halves > .cpb-column,
	.cpb-thirds > .cpb-column { 
		width: auto;
		float: none;
		margin-bottom: 1rem;
	}
	
}

