/* CSS Document */


main > section img{
	max-width: 100%;
	height: auto;
}

.cpb-clearfix {
	clear: both;
}


.cpb-row {
	margin: 0 -0.75rem;
	overflow: hidden;
}

.cpb-row.cpb-single {
	margin: 0;
}

.cpb-column {
	float: left;
	padding-bottom: 1rem;
}

.cpb-column .cpb-inner-wrap {
	padding: 1rem 0;
}

.cpb-column img{
	max-width: 100%;
	height: auto;
}

.cpb-single > .cpb-column {
	float: none
}


.cpb-halves > .cpb-column { width: 50%;}

.cpb-side-right > .cpb-column.one { width: 75%}
.cpb-side-right > .cpb-column.two { width: 25%}

.cpb-side-left > .cpb-column.one { width: 25%}
.cpb-side-left > .cpb-column.two { width: 75%}

.cpb-thirds > .cpb-column { width: 33.33% }

.cpb-thirds-half-left > .cpb-column.one { width: 50%}
.cpb-thirds-half-left > .cpb-column.two { width: 25%}
.cpb-thirds-half-left > .cpb-column.three { width: 25%}

.cpb-thirds-half-right > .cpb-column.one { width: 25%}
.cpb-thirds-half-right > .cpb-column.two { width: 25%}
.cpb-thirds-half-right > .cpb-column.three { width: 50%}

.cpb-quarters > .cpb-column { width: 25% }

.cpb-triptych > .cpb-column.one { width: 25%}
.cpb-triptych > .cpb-column.two { width: 50%}
.cpb-triptych > .cpb-column.three { width: 25%}

@media only screen and ( max-width: 700px ) {

	.cpb-quarters > .cpb-column { width: 50% }

}

.cpb-inner-wrap {
	margin: 0 0.75rem;
	position: relative;
	z-index: 3;
}

.cpb-single .cpb-inner-wrap {
	margin: 0;
}


/* WSU Theme Overrides */
.cpb-row {
	width: auto !important;
}

body.home main > section {
    margin: 0 2rem !important;
}

body.home main > section.row {
    padding-top: 1rem; !important;
}

/*
* Display Options
*/
.cpb-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cpb-list span { }

@media only screen and ( max-width: 700px ) {

	.cpb-quarters > .cpb-column { width: 50%; margin-bottom: 1rem; }

}

@media only screen and ( max-width: 550px ) {
	.cpb-quarters > .cpb-column,
	.cpb-halves > .cpb-column,
	.cpb-thirds > .cpb-column {
		width: auto;
		float: none;
		margin-bottom: 1rem;
	}

}

/*
* Hooks
*/
.no-padding-top {
	padding-top: 0 !important;
}

.padding-top .cpb-inner-wrap {
	padding-top: 1.5rem !important;
}

.grey-lightest-right-column {
	position: relative;
}

.grey-lightest-right-column .cpb-column.two:before {
	content: '';
	position: absolute;
	width: inherit;
	background-color: #eee;
	height: 100%;
	z-index: 2;
}

.cpb-row.full-bleed {
	position: relative;
}

.cpb-row.full-bleed:before {
	content:'';
	position: absolute;
	height: 100%;
	width: 500%;
	top:0;
	background-color: inherit;
	z-index: 100;
}

.cpb-row.full-bleed:before {
	left: -200%;
}

.cpb-row.full-bleed .cpb-inner-wrap {
	z-index: 101;
	position: relative;
}

/* CAHNRS */
.cpb-action-button {
	background-color: #981e32;
	color: #fff;
	display: block;
	padding: 0.5rem 1rem;
	border-radius: 2px;
	margin-bottom: 1rem;
}

/*
* Hooks
* -------------------------------
*/

/*
* Color Hooks
* -------------------------------
*/

.bg-color {
	position: relative;
	padding-top: 1rem;
}

.bg-color:before,
.bg-color:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
}

.bg-color.full-bleed-bg:before{
	width: 500%;
	left: -200%;
}

.bg-color.vertical-bleed-bg:before{
	height: 9999rem;
}


.gray-lightest-back:before { background-color: #eff0f1;}
.gray-darker-back:before { background-color: #2a3033;}

/*
* Padding & Margin Hooks
* -------------------------------
*/
.tight, .tight > .cpb-inner-wrap {
	padding: 0 !important;
}

.vertical-padding {
	padding: 1rem 0;
}

/*
* Promo Object
* -------------------------------
*/
.cpb-promo {
	display: block;
	padding-bottom: 1rem;
}

.cpb-promo .cpb-image {
	float: left;
	width: 150px;
}

.cpb-promo .cpb-image img {
	width: 100%;
	height: auto;
	display: block;
}

.cpb-promo.has-image .cpb-caption {
	margin-left: 165px;
}

.cpb-promo:after {
	content:'';
	display: block;
	clear:both;
}

/*
* Promo Object
* -------------------------------
*/








