/*.cahnrs-spotlight .slide:after{
content: '';
display: block;
clear: both;
}
.cahnrs-spotlight .slide > .image {
width: 50%;
float: left;
}
.cahnrs-spotlight .slide > .caption {
margin-left: 50%;
padding-left: 18px;
font-size: 16px;
}
.cahnrs-spotlight .slide > .caption > h3 {
line-height: 30px;
font-size: 22px;
}
.cahnrs-spotlight > nav:before{
content: '\f0d9';
font-family: fontAwesome;
margin-right: 4px;
display: inline-block;
vertical-align: middle;
color: #981e32;
}
.cahnrs-spotlight > nav:after {
content: '\f0da';
font-family: fontAwesome;
margin-left: 4px;
display: inline-block;
vertical-align: middle;
color: #981e32;
}
.cahnrs-spotlight > nav a {
display: inline-block;
background-color: #4c5053;
width: 10px;
height: 10px;
border-radius: 50%;
vertical-align: middle;
margin: 0 2px;
}
.cahnrs-spotlight > nav a:first-child {
background-color: #981e32;
}
@media screen and (max-width: 600px) {
.cahnrs-spotlight .slide > .image {
width: auto;
float: none;
}
.cahnrs-spotlight .slide > .caption {
margin-left: 0;
padding-left: 0;
font-size: 16px;
}
.cahnrs-spotlight {
margin-bottom: 1rem;
}
}*/